/*** On Project ***/

//Settings to apply into this project 
$green: #2ca02c;
$member-col: set_member_col((
	theme: $green
));

//CSS
#wrapper-main {
	@include centered;
	max-width: 90%;
}
.colm {
	@include base-colm;
	@include base-colm-inner() {
    	maring: 10px;
	}
}
#colm-svg {
	@extend .colm;
}
#colm-controller {
	@extend .colm;
	width: 300px;
	margin-left:50px
}
#colm-controller .inner > div {
	margin: 20px 0 0 0;
}
.theme_col {
	@include theme_col;
}
button.theme_col {
	@include theme_col( button );
}

button.on{
	border-bottom:solid 2px tomato !important;
		
}
button.off{
	border-style:none;
}
div.tooltip_d3 {	
    position: absolute;						
    width: 120px;					
    height: 37px;					
    padding: 5px 10px;				
    font: 12px sans-serif;		
    background: #efefef;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
#colm-controller .title{
	color:#555; 
	margin-bottom:7px; 
	font-weight:bold;
}
#go_past .title{
	margin-bottom:1px; 
}
#today input{
	@include w_ratio( 50% )
}

